@page "/more/{ContentId:int}"
@page "/more/{ContentId:int}/{Page:int}"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using TheArchives.Shared
@using Microsoft.AspNetCore.WebUtilities
@using System.Collections.Generic
@attribute [Authorize]
@inject HttpClient Http

<header class="header">
    <h1>More like this</h1>
</header>

<main class="main">
    <Loader Loading=@loading />

    <div class="results fade @(loading ? "hidden" : "shown")">
        @* Result items list *@
        <ul class="results-items-list">
            @foreach (var result in results)
            {
                <li class="item">
                    <div>
                        <a href="/reader/@result.ContentId">
                            <h5 class="item-title">@result.Title</h5>
                        </a>
                    </div>
                    <div class="item-author">
                        <span class="item-subheader">
                            Posted to <em>@result.Brand</em> by <em>@result.Author</em>
                        </span>
                    </div>
                    <div>
                        <p class="item-description">@result.Description</p>
                        <div>
                            @foreach (var tag in result.Tags)
                            {
                                <span class="tag"><i class="las la-tag"></i> @tag.Label</span>
                            }
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>

    @* Pagination *@
    <div class="pager">
        @if (Page > 5)
        {
            <a href="/more/@ContentId" class="page"><i class="la la-angle-double-left"></i></a>
        }

        @if (Page > 0)
        {
            <a href="/more/@ContentId/@(Page - 1)" class="page"><i class="la la-angle-left"></i></a>
        }

        @{
            var elasticLimit = 10_000;
            var totalPossible = Math.Min(elasticLimit, total);
            var maxPage = (int)Math.Ceiling(totalPossible / (double)pageSize);
            var minPage = Math.Max(1, Math.Min(maxPage - 6, Page - 3));
        }

        @for (var i = minPage; i < Math.Min(maxPage + 1, minPage + 7); i++)
        {
            if (Page + 1 == i)
            {
                <span class="page active">@i</span>
            }
            else
            {
                <a href="/more/@ContentId/@(i - 1)" class="page@(Page - 1 == i ? " active" : string.Empty)">@i</a>
            }
        }

        @if (Page < maxPage - 1)
        {
            <a href="/more/@ContentId/@(Page + 1)/" class="page"><i class="la la-angle-right"></i></a>
        }
    </div>
</main>


@code {
    [Parameter]
    public int ContentId { get; set; }

    [Parameter]
    public int Page { get; set; }

    private int pageSize { get; set; } = 10;

    private long total { get; set; }

    private IEnumerable<Content> results { get; set; } = Enumerable.Empty<Content>();

    private bool fetched { get; set; } = false;

    private bool fetching { get; set; } = false;

    private bool loading => !fetched || fetching;

    protected async override Task OnInitializedAsync()
    {
        try
        {
            fetching = true;

            // Make request
            var parameters = new Dictionary<string, string>
            {
                [nameof(RelatedRequest.Page)] = Page.ToString(),
                [nameof(RelatedRequest.PageSize)] = pageSize.ToString(),
            };

            var response = await Http.GetFromJsonAsync<RelatedResponse>(
                QueryHelpers.AddQueryString($"/api/search/{ContentId}", parameters));

            // Parse response
            if (response != null)
            {
                results = response.Results;
                fetching = false;
                fetched = true;
                total = response.Total;
            }
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}